<div class="container" ng-controller="dashboardCtrl">
    <img class="center-block" src="images/logo.png" style="margin-top: 24px; margin-bottom: 24px;">
    <div class="form-inline" style="margin-bottom: 24px;">
        <input type="text" class="form-control" id="searchBar" placeholder="Search" style="width:70%;">
        <select class="form-control" style="width:25%;">
            <option>Relevance</option>
            <option>Alphabetical</option>
            <option>Viewers</option>
            <option>Room Owner</option>
        </select>
    </div>
    <div class="row">
        <div ng-repeat="room in rooms" class="col-md-3">
            <div class="ui card">
                <div class="image">
                    <img src="https://placekitten.com/256/96">
                </div>
                <div class="content">
                    <span class="header"><a  ng-click="joinRoom(room._id)">{{room.name}}</a> <i class="user icon"></i>{{room.views}}</span>
                    <div class="description">{{room.desc}}</div>
                </div>
                <div class="extra content">
                    <span class="date">{{room._id}}</span>
                </div>
            </div>
        </div>
    </div>



    <div class="ui page dimmer transition" ng-class="{true: 'active', false: 'disabled'}[loading]">
        <div class="content">
            <div class="center">
                <h2 class="ui inverted icon header">
                    <i class="mail icon fa-spin"></i>
                    Dimmer Message
                    <div class="sub header">Dimmer sub-header</div>
                </h2>
            </div>
        </div>
    </div>
</div>