<div class="container" ng-controller="dashboardCtrl">
    <img class="center-block img-responsive" src="images/harold.png" style="margin-top: 24px; margin-bottom: 24px;">
    <div class="form-inline" style="margin-bottom: 24px; padding-left:20%; padding-right: 20%;"><!--Need to make this Responsive.-->
        <input type="text" class="form-control" id="searchBar" placeholder="Search" style="width:100%;">
    </div>
    <div class="ui six doubling cards">
        <div ng-repeat="room in rooms" class="card">
            <div class="image">
                <img class="image-responsive" src="https://placekitten.com/512/192">
            </div>
            <div class="content">
                <span class="header"><a  ng-click="joinRoom(room._id)">{{room.name}}</a> <i class="user icon"></i>{{room.views}}</span>
                <div class="description">{{room.desc}}</div>
            </div>
            <!--<div class="extra content">
                <span class="date">{{room._id}}</span>
            </div>-->
        </div>
    </div>



    <div class="ui page dimmer transition" ng-class="{true: 'active', false: 'disabled'}[loading]">
        <div class="content">
            <div class="center">
                <h2 class="ui inverted icon header">
                    <i class="mail icon fa-spin"></i>
                    Dimmer Message
                    <div class="sub header">Dimmer sub-header</div>
                </h2>
            </div>
        </div>
    </div>
</div>